.image-loader {
  position: relative;
  width: 100%;
  height: calc((80vw / 16) * 9);
  background-color: var(--secondary-color);
  z-index: 3;
}

.poster-loader {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: var(--secondary-color);
  z-index: 3;
}

@keyframes spin {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
.image-loader-icon {
  width: 50px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  animation: spin 1s linear infinite;
}

@media (max-width: 1366px) {
  .image-loader {
    height: calc((100vw / 16) * 9);
  }
}


@media (max-width: 425px) {
  .image-loader {
    height: calc(100vw * 1.5);
  }
}
