*, *:before, *:after {
    -webkit-tap-highlight-color: rgba(0,0,0,0); 
    -webkit-focus-ring-color: transparent; 
    outline: none; 

  }
  
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
:root {
    --primary-color: #021927;
    --secondary-color: #fafaee;
  }

body{
    background-color: var(--secondary-color);
    color: var(--primary-color);
    font-family: "Lato", sans-serif;
    font-weight: 500;
}
main{
  width: 100%;
  min-height: calc(100vh - 60px);
}

h1,h2,h3,h4,h5,h6{
  font-family: "Oswald", sans-serif;
}

.page-heading{
  text-align: center;
  margin: 20px 0;
}

.regular-section{
  margin: 10px 0 10px 10%;
}

a{
  display: inline-block;
  padding: 0;
  margin: 0;
  text-decoration: none;
  color: var(--secondary-color);
}

@media (max-width: 768px) {
.regular-header{
  width: 90%;
}
.regular-section{
  margin: 10px 0 10px 5%;
}

}

